@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  color: #166B8C;
  font-family: 'Poppins', Arial,sans-serif;
  width: 95vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}